@import url('https://fonts.googleapis.com/css?family=Inconsolata|Old+Standard+TT|Oswald:400,700');
$fon1: "Oswald";
$fon2: "Old Standart TT";
$fon3: "Inconsolata";

html {
 font-size: 0.8rem;
  @media (min-width: 540px){
   font-size: 1rem;
  }
  @media (min-width: 1140px){
   font-size: 1.1rem;
  }
}
#brand{
	margin-top: 2.5rem;
    a{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-family: $fon1;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 2px;
	color: black;
	@media (max-width: 337px){
  	font-size: 2rem;
    }
  }
}
#main-nav{
 margin-top: 0.7rem;
 margin-bottom: 2rem; 
  .selec{
   text-decoration: line-through;
   color: lighten(black, 20%);
   }
   li{
	 a{
	  color: lighten(black, 50%);
	  font-family: $fon2;
	  transition: 0.5s;
	  letter-spacing: 2px;
	  font-size: 0.8rem;
       &:hover{
	    text-decoration: line-through;
		color: lighten(black, 30%);
		}
	  }
	}
}
#home-img{
 img{
  max-height: 600px;
	}
}

#main-vid{
 section{
  figure{
   margin-bottom: 3rem;
	 img{
	  cursor: pointer;
		}
	   figcaption{
		color: black;
		font-style: italic;
		font-size: 0.6rem;
         h2{
		  text-transform: uppercase;
		  font-size: 1rem;
		  font-family: $fon3;
		  font-style: normal;
		  strong{
		  	font-weight: normal;
		  }
		   &.nnstyle{
			text-transform: none;
					}
			}
			h3, h4{
			 font-size: 0.6rem;
			 font-family: $fon3;
			 font-style: normal;
			 display: inline-block;
			  }
			}
		}
	}
}
#contact{
 margin-top: 4.3rem;
 margin-bottom: 3rem;
 color: lighten(black, 20%);
 font-family: $fon3;
 font-size: 14px;
 h2{
 color: lighten(black, 20%);
 font-family: $fon3;
 font-size: 14px;
 display: inline;
 strong{
 font-weight: normal;
    }
   }
 a{
  text-decoration: none;
  }
 li{
  &:hover{
   transform: scale(1.2);
	 }
  a{
  color: lighten(black, 20%);
  font-size: 1rem;
  @media (max-width: 540px){
  	font-size: 1.2rem;
    }
   }
  }
}

footer{
 h2{
 font-weight: lighter;	
 font-size: 0.8rem;
 color: black;
 @media (max-width: 540px){
  	font-size: 1.1rem;
  }
  strong{
  font-weight: lighter;
	    }
    }
}