@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arya');

$fon1: "Abril Fatface";
$fon2: "Arya";

#brand{
	margin-top: 24px;

	a{
	font-size: 64px;
	text-transform: uppercase;
	font-family: $fon1;
	text-decoration: none;
	letter-spacing: 2px;
	color: lighten(black, 25%);
	
	@media (max-width: 600px){
		font-size: 42px;
	}
  }
   .brand-selec{
   	color: lighten(black, 40%);
   }
}

#main-nav{
	margin-bottom: 32px; 
	background: white;

    .selec{
	  text-decoration: line-through;
	  color: lighten(black, 25%);
	}
	
    .container{
    	display: flex;
    	justify-content: center;
    }
    
      div{
		border: none;
	}
	    li{
	    	padding: 0px 8px;
	      a{
			font-family: $fon2;
			transition: 0.5s;
			letter-spacing: 2px;
			font-size: 16px;
			text-transform: uppercase;
               &:hover{
				 text-decoration: line-through;
			    }
		    }
	    }
}

#galeria{
	  
      figure{
		margin-bottom: 24px;
		 @media (max-width: 988px){
		 	margin-bottom: 16px;
		 }
		

		img{
		  transition: 0.4s;
			&:hover{
			  transform: scale(1.1);
                @media (max-width: 766px){
				  transform: scale(1.02);
				}
			}
		}
	}
}


#contact{
	margin-top: 40px;
	margin-bottom: 20px;

      p{
		padding-top: 80px;
		padding-bottom: 16px;
		color: lighten(black, 20%);
		font-weight: lighter;
		letter-spacing: 1px;
		font-family: $fon2;
		font-size: 16px;

		a{
		 text-decoration: none;
		}
	}

	li{
		&:hover{
	   transform: scale(1.2);
	  }
		a{
			color: lighten(black, 20%);
			font-size: 20px;
		}
	}
}

 footer{
    box-sizing: border-box;

     h2{
      padding-top: 16px;
	  font-size: 16px;
	  color: lighten(black, 30%);
    }
}



