@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i|Prata');


$fon1: "Prata";
$fon2: "Playfair";


#brand{
	a{
	margin-bottom: 42px;
	background: none;
	text-transform: uppercase;
	font-family: $fon1;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.4s;
   }
}

#main-nav{
	margin-bottom: 32px; 
	background: white;

	
    .container{
    	display: flex;
    	justify-content: center;
    }
    button{
		background: none;
		border: none;
	}

	div{
		border: none;
	}
	     a{
			font-family: $fon1;
			transition: 0.5s;
			letter-spacing: 2px;
			font-size: 16px;
			text-transform: uppercase;

			&:hover{
				text-decoration: line-through;
			}
		}
}


#main-img{
	margin: 128px 0px;
	div{
		margin-bottom: 24px;

		img{
			transition: 0.4s;
			&:hover{
				transform: scale(1.1);

				@media (max-width: 766px){
					transform: none;
				}
			}
		}
	}

	@media (max-width: 767px){
	   margin: 0px;	
	}
}


#contact{
	letter-spacing: 1px;
	margin: 42px 0px;
	font-family: $fon1;

	p{
		margin: 16px 0px;
		color: black;

		a{
			text-decoration: none;
		}
	}

	li{
		&:hover{
	   transform: scale(1.2);
	  }
		a{
			color: lighten(black, 20%);
			font-size: 20px;
		}
	}
}

#footer{
	box-sizing: border-box;

	h2{
        padding-top: 40px;
		font-size: 16px;
		color: lighten(black, 30%);
	
	}
  
}
.selec{
	text-decoration: line-through;
}
